@media screen and (min-device-width: 1201px) and (min-width: 1201px) {
	#intro .intro-container {
		width: 806px;
	}
	#intro h1 {
		font-size: 88px;
		margin-bottom: 3rem;
		font-weight: 500;
		font-style: italic;
		opacity: 1;
	}

	#intro p {
		font-size: 54px;
		line-height: 86px;
		margin-bottom: 3rem;
		font-style: italic;
		opacity: 1;
	}

	#sun .sun-img {
		width: 600px;
		height: 600px;
	}

	#bg .bg-img {
		position: absolute;
		width: 100vw;
		height: 130vw;
		transform: translateX(0);
	}

	#inspired p {
		width: 55vw;
		font-size: 50px;
		line-height: 82.5px;
		color: #fff;
		font-weight: 400;
		opacity: 0;
		font-family: 'Cormorant Garamond';
	}

	#introduce .introvideo-img {
		height: 544px;
		width: 50vw;
	}

	#introduce .introvideo-img img {
		border-radius: 15vw;
	}

	#introduce .introducing .text {
		font-size: 130px;
		line-height: 96.2px;
		margin-top: -10rem;
	}

	#introduce .introvideo {
		flex-direction: row;
		align-items: center;
	}

	#introduce .introvideo-text {
		align-items: flex-start;
		width: 45vw;
	}

	#introduce .introvideo-text-logo {
		height: 58px;
		width: 161px;
		margin-bottom: 2rem;
	}

	#introduce .introvideo-text p {
		font-size: 16px;
		line-height: 24px;
		width: 24vw;
	}

	#introduce .introvideo-text a {
		font-size: 16px;
		width: 24vw;
	}
}
